html {
    /* font-size: 100px; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

form {
    order: 1;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}


form input {
    width: 200px;
}

.board {
    order: 1;
    flex: 1 1;
    align-self: center;
    flex-basis: auto;
}

.row {
    display: flex;
    width: 300px;
    height: 100px;
 }

.area {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    width: 100%;
    border: 5px solid black;
}

.prev-winner {
    order: 0;
    margin: 20px;
}

.win-screen {
    margin: 20px;
    display: flex;
    font-size: 20px;
}

.player-names {
    order: 4;
    margin: 20px;
}